# Переменные окружения
.env

# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарные файлы
*.test

# Файлы покрытия кода
*.out

# Зависимости
/vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db 